/*

 *      <コ:彡

 *      for boof

 *

 */

body, html { 
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/*::-webkit-scrollbar{
    display: none;
}
*/
.word{
    display: inline-block;
    font-family: Georgia, Garamond, "Times New Roman", serif;
    font-style: italic;
    font-weight: 600;
    font-size: 300px;
    padding-left: -25px;
    margin-top: 15px;
    margin-left: .5em;
    color: #fff;
}

.word:nth-child(1) { margin-left: 0; }

.footer a {
    position: fixed;
    opacity: 0;
    bottom: 1em;
    right: 1em;
    height: 100px;
    width: 100px;
    z-index: 9 !important;
    font-family: Georgia, Garamond, "Times New Roman", serif;
    font-style: italic;
    color: #000;
    font-weight: 600;
    font-size: 100px;
}

.footer a:hover {
    color: #dfd;
}

#two .word:first-child { 
    margin-top: 35%;
}

#container { 
    /*display: block;*/
    z-index: 5 !important;
    /*height: 1000px;*/
    opacity: .8;
}

canvas {     
    z-index: 5 !important;
    opacity: .5;
}

#one,
#two,
#three,
#four {
    width: 100%;    
    height: 1000px;
}

#four { height: auto;}

#five {
    position: fixed;
    top: 33%;   
    left: 33%;  
    width: 33%;
    height: 33%;
    z-index: 6 !important;
}

#one {
    position: fixed;
    top: 0;
    left: 0;

    opacity: .5;
    z-index: -1 !important;
}

#one .word, .footer a {
    -o-transition: opacity 3s;
    -moz-transition: opacity 3s;
    -webkit-transition: opacity 3s;
    transition: opacity 3s;
}

#four .word span {
    -o-transition: opacity 2s;
    -moz-transition: opacity 2s;
    -webkit-transition: opacity 2s;
    transition: opacity 2s;
}

#one {
    background-image: 
        -webkit-repeating-linear-gradient(-30deg, #8bd3a3, #8bd3a3 25px, #e965a1 25px, #e965a1 50px);
}

#two {
    background-image: 
        -webkit-repeating-linear-gradient(135deg, #F37736 -5px, #F37736 5px, #1FB25A 5px, #1FB25A 10px);
    opacity: .4;
}

#three {
    background-image: 
        -webkit-repeating-linear-gradient(135deg, #8CC7C2 0px, #8CC7C2 2px, #E8E13C 2px, #E8E13C 4px);
}

#four {
    background-image: 
        -webkit-repeating-linear-gradient(135deg, #8CC7C2 0px, #8CC7C2 2px, #E8E13C 2px, #E8E13C 4px);
    opacity: .7;
}

#five {
    background-image: 
        -webkit-repeating-linear-gradient(135deg, #8CC7C2 0px, #8CC7C2 2px, #E8E13C 2px, #E8E13C 4px);
    opacity: .7;
}

#container {
    background-image:
        -webkit-linear-gradient(-90deg, #4551bd, #fff 25%);
}
