/*

 *      <コ:彡

 *      for boof

 *

 */

body { 
    margin: 0; 
    overflow-x: hidden;
}

.word {
    font-family: Georgia, Garamond, "Times New Roman", serif;
    font-style: italic;
    font-weight: 600;
    font-size: 200px;
    margin-left: 50px;
    margin-top: 15px;
    color: #fff;
}

#two .word:first-child { margin-top: 35%;}

#container { z-index: 9 !important;}

.boof div#one {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;    
    height: 1000px;
    background-image: -moz-repeating-linear-gradient(45deg, #F37736 -5px, #F37736 5px, #1FB25A 5px, #1FB25A 10px);
    background-image: -webkit-repeating-linear-gradient(45deg, #f00 -10px, #0f0 5px);
    background-image: repeating-linear-gradient(45deg, #f0 -10px, #0f0 5px);
    opacity: .5;
    z-index: -1 !important;
}

.boof div#two {

    width: 100%;
    height: 1000px;
    background-image: -moz-repeating-linear-gradient(135deg, #F37736 -5px, #F37736 5px, #1FB25A 5px, #1FB25A 10px);
    background-image: -webkit-repeating-linear-gradient(135deg, #f00 -10px, #0f0 10px);
    background-image: repeating-linear-gradient(45deg, #f0 -10px, #0f0 5px);
    opacity: .4;
}

.boof div#three {
    width: 100%;
    height: 1000px;
    background-image: -moz-repeating-linear-gradient(45deg, #8CC7C2 -4px, #8CC7C2 2px, #E8E13C 8px, #E8E13C 4px);
    background-image: -webkit-repeating-linear-gradient(135deg, #8CC7C2 0px, #8CC7C2 2px, #E8E13C 2px, #E8E13C 4px);
    background-image: repeating-linear-gradient(135deg, #8CC7C2 0px, #8CC7C2 2px, #E8E13C 2px, #E8E13C 4px);
        opacity: .7;
}

.boof div#four {
    
    width: 100%;
    height: 1000px;
    background-image: -moz-repeating-linear-gradient(100deg, #8CC7C2 -4px, #8CC7C2 2px, #E8E13C 8px, #E8E13C 4px);
    background-image: -webkit-repeating-linear-gradient(135deg, #8CC7C2 0px, #8CC7C2 2px, #E8E13C 2px, #E8E13C 4px);
    background-image: repeating-linear-gradient(135deg, #8CC7C2 0px, #8CC7C2 2px, #E8E13C 2px, #E8E13C 4px);
        opacity: .7;
}

.boof div#five {

    position: fixed;
    top: 33%;   
    left: 33%;  
    width: 33%;
    height: 33%;
    background-image: -moz-repeating-linear-gradient(45deg, #0CB4CF 0px, #FECC75 50px);
    background-image: -webkit-repeating-linear-gradient(135deg, #8CC7C2 0px, #8CC7C2 2px, #E8E13C 2px, #E8E13C 4px);
    background-image: repeating-linear-gradient(135deg, #8CC7C2 0px, #8CC7C2 2px, #E8E13C 2px, #E8E13C 4px);
        opacity: .7;
}