/*

 *      <コ:彡

 *      for boof

 *

 */

@import url(http://fonts.googleapis.com/css?family=Press+Start+2P);

body, html { 
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: "Press Start 2P", Garamond, "Times New Roman", serif;
    font-style: italic;
    font-weight: 400;
    font-size: 100px;
}

/*container for the mobile sized content*/
#phone-message {
    display: none;
}

#top-container{

    color: #fff;
    width: 100%;
    height: 100px;
    opacity: .7;
    background-image: -webkit-repeating-linear-gradient(-30deg, #4551bd, #4551bd 25px, #8bd3a3 25px, #8bd3a3 35px);
    background-image: -moz-repeating-linear-gradient(-30deg, #4551bd, #4551bd 25px, #8bd3a3 25px, #8bd3a3 35px);
    background-image: -o-repeating-linear-gradient(-30deg, #4551bd, #4551bd 25px, #8bd3a3 25px, #8bd3a3 35px);
    background-image: repeating-linear-gradient(-30deg, #4551bd, #4551bd 25px, #8bd3a3 25px, #8bd3a3 35px);
    z-index: 9 !important;
}

#bottom-container {

    position: fixed;
    bottom: -1;
    height: 1000px;
    width: 100%;
    background: url('boof.png') repeat;
    background-size: 500px 250px;
    z-index: -1 !important;
}

canvas {     
    opacity: .5;
}

#layer {
    height: 750px;
    position: fixed;
    width: 100%;
    opacity: 0;
    z-index: 2 !important;
}

.stripes{
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 0 !important;
    opacity: .8;
}

.stripes:nth-child(6){
    background-image: -webkit-repeating-linear-gradient(-115deg, transparent, transparent 100px, #E8E13C 100px, #E8E13C 110px);
    background-image: -moz-repeating-linear-gradient(-115deg, transparent, transparent 100px, #E8E13C 100px, #E8E13C 110px);
    background-image: -o-repeating-linear-gradient(-115deg, transparent, transparent 100px, #E8E13C 100px, #E8E13C 110px);
    background-image: repeating-linear-gradient(-115deg, transparent, transparent 100px, #E8E13C 100px, #E8E13C 110px);
}

.stripes:nth-child(4){
    background-image: -webkit-repeating-linear-gradient(115deg, transparent, transparent 100px, #77c1e8 100px, #77c1e8 110px);
    background-image: -moz-repeating-linear-gradient(115deg, transparent, transparent 100px, #77c1e8 100px, #77c1e8 110px);
    background-image: -o-repeating-linear-gradient(115deg, transparent, transparent 100px, #77c1e8 100px, #77c1e8 110px);
    background-image: repeating-linear-gradient(115deg, transparent, transparent 100px, #77c1e8 100px, #77c1e8 110px);
}

.stripes:nth-child(5){
    background-image: -webkit-repeating-linear-gradient(135deg, #e965a1 -5px, #e965a1 5px, #1FB25A 5px, #1FB25A 10px);
    background-image: -moz-repeating-linear-gradient(135deg, #e965a1 -5px, #e965a1 5px, #1FB25A 5px, #1FB25A 10px);
    background-image: -o-repeating-linear-gradient(135deg, #e965a1 -5px, #e965a1 5px, #1FB25A 5px, #1FB25A 10px);
    background-image: repeating-linear-gradient(135deg, #e965a1 -5px, #e965a1 5px, #1FB25A 5px, #1FB25A 10px);
    opacity: .4;
}

.stripes#quiet-view{
    display: none;
    background-image: -webkit-repeating-linear-gradient(-30deg, #8bd3a3, #8bd3a3 25px, #e965a1 25px, #e965a1 50px);
    background-image: -moz-repeating-linear-gradient(-30deg, #8bd3a3, #8bd3a3 25px, #e965a1 25px, #e965a1 50px);
    background-image: -o-repeating-linear-gradient(-30deg, #8bd3a3, #8bd3a3 25px, #e965a1 25px, #e965a1 50px);
    background-image: repeating-linear-gradient(-30deg, #8bd3a3, #8bd3a3 25px, #e965a1 25px, #e965a1 50px);
    opacity: .4;
}

#footer{
    position: fixed;
    bottom: 15px;
    right: 15px;
    color: #b275b9;
    font-size: 100px;
    font-style: normal;
    opacity: .8;
    z-index: 10 !important;
}

#footer a:hover{
    color: #8bd3a3;
}

/*styles when caret is clicked*/
.quiet-view {
    background-image: -webkit-linear-gradient(-90deg, #4551bd, #fff 25%);
    background-image: -moz-linear-gradient(-90deg, #4551bd, #fff 25%);
    background-image: -o-linear-gradient(-90deg, #4551bd, #fff 25%);
    background-image: linear-gradient(-90deg, #4551bd, #fff 25%);
    z-index: 5 !important;
}

#floater {
    display: none;
    position: fixed;
    width: 33%;
    height: 33%;
    top: 33%;
    left: 33%;
    background-image: -webkit-repeating-linear-gradient(135deg, #8CC7C2 0px, #8CC7C2 2px, #E8E13C 2px, #E8E13C 4px);
    background-image: -moz-repeating-linear-gradient(135deg, #8CC7C2 0px, #8CC7C2 2px, #E8E13C 2px, #E8E13C 4px);
    background-image: -o-repeating-linear-gradient(135deg, #8CC7C2 0px, #8CC7C2 2px, #E8E13C 2px, #E8E13C 4px);
    background-image: repeating-linear-gradient(135deg, #8CC7C2 0px, #8CC7C2 2px, #E8E13C 2px, #E8E13C 4px);
    opacity: .7;   
}

/*styles for the mobile phone view*/
@media screen and (max-width: 768px){
    #top-container, #bottom-container,
    .stripes, #footer, #layer {
        display: none;
    }
    #phone-message{
        display: block;
        width: 33%;
        margin-left: auto;
        margin-right: auto;
    }
    canvas{
        opacity: 1;
    }
}